{% extends "base_duo.html" %}

{% block content %}

<p>{{ message }}</p>

<form method="POST" id="duo_form">
{% csrf_token %}
{% if next %}
<input type="hidden" name="next" value="{{ next }}"/>
{% endif %}
</form>

<script type="text/javascript" src="{{ duo_js_src }}"></script>
<script type="text/javascript">
Duo.init({'host':'{{ duo_host }}', 'sig_request':'{{ sig_request }}',
          'post_action':'{{ post_action }}'});
</script>
<iframe height="300" width="100%" id="duo_iframe"></iframe>

{% endblock %}
